body {
  background-color: #f7f2e8;
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #7e0000;
  color: white;
  padding: 40px 0;
  text-align: center;
}

 h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  letter-spacing: 3px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  color: #7e0000;
  text-align: center;
  margin-top: 40px;
}

.texto {
  max-width: 900px;
  font-size: 18px;
  line-height: 1.7;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
}

.prin img {
  display: block;
  margin: 0 auto;
  width: 700px;
  border-radius: 22px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 90%;
  margin: 30px auto;
}

.plato {
  text-align: center;
}

.plato img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.2s;
}

.plato img:hover {
  transform: scale(1.03);
}

.nombre-plato {
  margin-top: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #7e0000;
  font-size: 18px;
}

.galeria img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.2s;
}

.galeria img:hover {
  transform: scale(1.03);
}

.maradona img {
  width: 450px;
  display: block;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

footer {
  background-color: #7e0000;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-family: 'Poppins', sans-serif;
}