
body {
  background-color: #f7f2e8;
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #7e0000;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

header h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  letter-spacing: 3px;
  margin: 0;
}

.subheader {
  text-align: center;
  background-color: #f2e7e7;
  padding: 12px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #7e0000;
  border-bottom: 2px solid #d4bcbc;
}

/* TITULOS */

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  color: #7e0000;
  text-align: center;
  margin-top: 40px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  color: #7e0000;
  text-align: center;
}

.texto {
  max-width: 900px;
  font-size: 18px;
  line-height: 1.7;
  margin: 0 auto 25px auto;
  text-align: center;
}

.section {
  padding: 30px 20px;
  text-align: center;
}

.section img {
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  margin-top: 15px;
}

.prin img {
  display: block;
  margin: 0 auto;
  width: 700px;
  border-radius: 22px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  width: 90%;
  margin: 30px auto;
}

.plato {
  text-align: center;
}

.plato img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.2s;
}

.plato img:hover {
  transform: scale(1.03);
}

.nombre-plato {
  margin-top: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #7e0000;
  font-size: 18px;
}

.galeria img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.2s;
}

.galeria img:hover {
  transform: scale(1.03);
}

.maradona img {
  width: 450px;
  display: block;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.menu-section {
  background: white;
  padding: 30px 25px;
  border-radius: 15px;
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.menu-items {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.contacto {
  padding: 40px 0;
}

footer {
  background-color: #7e0000;
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
